/*!
* Copyright 2013 Luka Puharic
* http://www.apache.org/licenses/LICENSE-2.0.txt
*/

#map-canvas {height: 50%; min-height:50%; background-color: #e5e5e5; width: 100%; position: absolute; top:0; z-index: -1;}
#map-canvas img {max-width: none; }
