h2 {margin: 0;}
article {width: 50%; float: right;}
section {float: left; width: 28%;}
footer .separator {display: block;}
article {min-height: 500px;width: 70%}

.header-nav {top: 0px; visibility: visible; padding:5px; }
header.main .info .toggle-menu,
.header-nav a.button.black {display: none;}

section.locations .nav { margin-top:auto}
